<%- include('partials/header') %>
  <h1>
    <%= title %>
  </h1>
  <ul>
    <% projects.forEach(project=> { %>
      <li>
        <strong>
          <%= project.name %>
        </strong> - <%= project.description %>
          <br>Location: <%= project.location %> | Date: <%= new Date(project.date).toLocaleDateString() %>
      </li>
      <% }); %>
  </ul>
  <%- include('partials/footer') %>