<%- include('partials/header') %>
<h1><%= title %></h1>
<ul>
  <% projects.forEach(project => { %>
    <li><strong><%= project.name %></strong> - <%= project.description %></li>
  <% }); %>
</ul>
<%- include('partials/footer') %>