<%- include('partials/header') %>
<h1><%= categoryDetails.name %></h1>
<h2>Service Projects</h2>
<ul>
  <% projects.forEach(project => { %>
    <li><a href="/project/<%= project.project_id %>"><%= project.name %></a></li>
  <% }); %>
</ul>
<%- include('partials/footer') %>