<%- include('partials/header') %>
<h1><%= organizationDetails.name %></h1>
<img src="/images/<%= organizationDetails.logo_filename %>" alt="<%= organizationDetails.name %> logo">
<p><%= organizationDetails.description %></p>
<p>Contact: <%= organizationDetails.contact_email %></p>

<h2>Service Projects</h2>
<ul>
  <% projects.forEach(project => { %>
    <li><a href="/project/<%= project.project_id %>"><%= project.name %></a></li>
  <% }); %>
</ul>
<%- include('partials/footer') %>